.container {
	max-width: width 1000px;
	flex: 1;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height:inherit; 
	flex-wrap: inherit;
	padding: 0 1em; 
}


body{
	font-family: "source sans pro", sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "fjalla one", sans-serif;
	font-weight: normal;
	
}

h1{
	font-size: 40px;
	line-height: 1.5em;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: white;
	margin: 0;
}


h1 strong {
	color:#1A9E3A;
}

h2 {
	color: #1A9E3A;
	text-transform: uppercase;
	font-family: "source sans pro", sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

.mao { 
	text-align: center;
}
.cabecera {
	background-color:#1b2127;
	color: #1A9E3A;
	display: flex;
	/*align-items: center;*/
	height: 90px;
	flex-wrap: wrap;
	list-style: none;
}
	
.menu{
	height: inherit;

}

.cabecera ol {
	display: flex;
	height: inherit;
	
} 

.cabecera ol li {
	height: inherit;
	display: flex;
	align-items: center;
}

.cabecera a{
	display: flex;
	align-items: center;
	height: inherit;
	padding: 0 10px;
}


ol,
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	text-decoration: none;
	color: white;

	
}

.excel{
	font-size: 2.5em;
	text-align: center;
	
}
.mauro{
	height: 300px;
	/*background-image: url(images/mauro2.jpg); */
	background-color: #1b2127;
	background-size: 400px 300px; 
	background-repeat: no-repeat;
	background-position-x: right; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}



.seccion {
	display: flex;
	flex-wrap: wrap;
}

.curso {
	
	margin: 1%;
	width: 30%;
	
	/**flex-shrink: 0;**/

	overflow: hidden;
	background:#178C25;
	height: 400px;
}


.video {
	height: 200px;
	object-fit: cover;
	width: 100%;
}

.titulo-excel {
	font-size: 1em;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	color: #1A9E3A;
}


.descripcion {
	margin: 0px 20px; 
	background-color:white;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	height: 100px;
	

}


.pdf {
	
	padding: 5px 20px;
	text-decoration: none;
	color: blue;
	border-radius: 5px;
}

.event-list-title {
	margin-left: 10px;
}


.footer {
	background-color: #1b2127;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width:1080px) {
	
	.container {
		padding: 0 1em;
	}
	
	.mauro {
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 2em;
		
	}
	
	
	
	
}



	
	
	